<nav class="nav-bar">
  <ul class="nav-links">
    <li class="nav-link">
      <a routerLink="drivers" routerLinkActive="active">Drivers</a>
    </li>
    <li class="nav-link">
      <a routerLink="orders" routerLinkActive="active">Orders</a>
    </li>
    <li class="nav-link">
      <a routerLink="brokers" routerLinkActive="active">Brokers</a>
    </li>

    <li class="nav-link log-status">
      <a routerLink="login" routerLinkActive="active">login</a>
      <a (click)="logout()">logout</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
