<nav class="nav-bar">
  <ul class="nav-links">
    <li class="nav-link" *ngIf="getUserName()">
      <a routerLink="drivers" routerLinkActive="active">Drivers</a>
    </li>
    <li class="nav-link" *ngIf="getUserName()">
      <a routerLink="orders" routerLinkActive="active">Orders</a>
    </li>
    <li class="nav-link" *ngIf="isUserAdmin()">
      <a routerLink="add-driver" routerLinkActive="active">add driver</a>
    </li>
    <li class="nav-link" *ngIf="isUserAdmin()">
      <a routerLink="add-user" routerLinkActive="active">add user</a>
    </li>

    <li class="nav-link log-status">
      <a routerLink="login" routerLinkActive="active" *ngIf="!getUserName()">login</a>
      <div *ngIf="getUserName()">
        <button mat-button [matMenuTriggerFor]="menu">
          {{ getUserName() }}
          <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="logout()">
            logout
            <mat-icon>logout</mat-icon>
          </button>
        </mat-menu>
      </div>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
